h1{
    color: aqua;
    background-color: black;
}
p{
    color: rgb(2, 24, 24);
    
}
h2{
    color: aqua;
    background-color: black;

}
h3{
    color: aqua;
    background-color: black;
}